$smallScreen: 23vh;
$midScreen: 47vh;
$bigScreen: 77vh;

.homePage-body {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 20vh;
  margin-left: 3vh;
  margin-right: 3vh;
  row-gap: 15px;
}
.img-container {
  position: relative;
  background-color: aquamarine;
  width: 100%;
  height: 23vh;
  min-height: 200px;

  .video-picture {
    width: 100%;
    height: 100%;
    padding: 0;
    object-fit: cover;
  }
  .play-icon {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 40%;
    font-size: 100px;
    color: #dedad7;
    opacity: 0.5;
    z-index: 1;
    &:hover {
      opacity: 0.9;
    }
  }

  .like-icon {
    position: absolute;
    bottom: 5%;
    right: 3%;
    color: #dedad7;
    opacity: 0.5;
    z-index: 1;
    &:hover {
      opacity: 0.9;
    }
  }
}

@media ((max-width: 600px)) {
  .img-container {
    height: $smallScreen;
    .play-icon {
      left: 43%;
      top: 30%;
      font-size: 80px;
    }
  }
}
@media ((min-width: 600px) and (max-width:1200px)) {
  .img-container {
    height: $midScreen;
  }
}
@media (min-width: 1200px) {
  .img-container {
    height: $bigScreen;
  }
}
